<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <div class="decorative-line wrapper">
        <h1 class="main-title">TRAFFICMEISTER</h1>
        <div class="shape">
          <img src="assets/images/header-title-shape.svg" title="shape" width="411" height="12">
        </div>
        <div class="header-image">
          <img src="assets/images/header-title-image.png" title="hero-image-right" width="237" height="141">
        </div>
      </div>
    </div>
  </div>
</section>
<section class="content-body">
  <div class="container">
    <div class="columns">
      <div class="column is-7 left-column-padding">
        <div class="main-content-container">
          <div class="decorative-line wrapper">
           
            <ng-container *ngIf="!apiError">

              <div class="field">
                <label class="label" for="option-type">Vehicle</label>
                <div class="control"> 
                  <div class="select option-type" id="option-type" [ngClass]="{'is-loading': !modeTypes }">
                    <select 
                      [(ngModel)]="modeTypeSelected"
                      (change)="populateForm(true)"
                      [disabled]="!modeTypes"
                    >
                      <option 
                        *ngFor="let modType of immutableSelectorTypes" 
                        [value]="modType"
                        [selected]="modeTypeSelected === modType"
                      >{{modType}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label" for="option-brand">Brand</label>
                <div class="control"> 
                  <div class="select option-brand" id="option-brand" [ngClass]="{'is-loading': !modeBrands }">
                    <select
                      [(ngModel)]="modeBrandSelected"
                      (change)="populateForm()"
                      [disabled]="!modeBrands"
                    >
                      <option 
                        *ngFor="let modBrand of modeBrands" 
                        [value]="modBrand"
                        [selected]="modeBrandSelected === modBrand"
                      >{{modBrand}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <div class="field">
                <label class="label" for="option-color">Color</label>
                <div class="control"> 
                  <div class="select option-color" id="option-color" [ngClass]="{'is-loading': !modeColors }">
                    <select
                      [(ngModel)]="modeColorSelected"
                      (change)="populateForm()"
                      [disabled]="!modeColors"
                    >
                      <option 
                        *ngFor="let modColor of modeColors" 
                        [value]="modColor"
                        [selected]="modeColorSelected === modColor"
                      >{{modColor}}</option>
                    </select>
                  </div>
                </div>
              </div>

              <p>result: {{ modeTypeSelected }} {{ modeBrandSelected }} {{ modeColorSelected }}</p>

            </ng-container>

            <ng-container *ngIf="apiError">
              <div class="content">
                <h1>Outch!</h1>
                <p>We are expriencing some technical dificulties. Please try again.</p>
                <a href="/" target="_top" class="button">reload</a>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="column">
        <div class="main-content-container">
          <div class="decorative-line wrapper">
            <img 
              [src]="imageUrl" 
              title="{{modeBrandSelected}}" 
              height="auto" 
              width="100%"
              *ngIf="imageUrl"
            >
            
          </div>
        </div>
      </div>

    </div>
</div>
</section>
<i class="fas fa-spinner"></i>

