@import "variables.sass"
@import "../node_modules/bulma/bulma.sass"

html 
  overflow: auto

$project-width: 731px
$square-column-size: 430px

body
  background-color: $primary
  min-height: 100vh

.hero
  .hero-body
    padding: 15px 0 10px

    .container
      width: $project-width

      @media screen and (max-width: $project-width - (2 * $column-gap))
        width: 100%

      background-color: $secondary 
      padding: 10px

      >.wrapper
        >h1
          font-family: chitown_nfregular, serfif
          color: $tertiary
          font-size: 68px

          @media screen and (max-width: 650px)
            text-align: center
            line-height: 86px
            margin: 0
            padding: 0

          @media screen and (max-width: 500px)
            font-size: 28px
          

        >.shape
          position: absolute
          top: 86px 

          @media screen and (max-width: 650px)
            display: none

        >.header-image
          position: absolute
          top: -20px 
          right: 0px
          @media screen and (max-width: 650px)
            display: none

.content-body
  min-height: $square-column-size
  font-family: monacoregular, sans-serfif


  .container
    width: $project-width

    @media screen and (max-width: $project-width - (2 * $column-gap))
        width: 100%

    .column
      &.is-7
        width: $square-column-size
        @media screen and (max-width: $project-width - (2 * $column-gap))
          width: 100%

    .left-column-padding
      padding-right: 0

      @media screen and (max-width: $project-width - (2 * $column-gap))
        padding-right: 10px
        padding-bottom: 0

    .main-content-container
      background-color: $secondary
      padding: 10px

      >.wrapper
        $padding-size: 40px
        padding: $padding-size
        min-height: $square-column-size - (2 * 15px)

      .select::after
        content: url('assets/images/select-box-arrow.svg');
        transform: none
        border: none
        width: auto
        height: auto
        margin: 0
        padding: 0
        top: 4px
        right: 4px

      .select
        &.is-loading
          &::after
            font-family: "Font Awesome 5 Free"
            font-weight: 900
            content: "\f1ce";

      .select
        width: 100%

        select
          width: 100%
          border: 2px solid $tertiary



.decorative-line
    border: 4px solid $tertiary
    padding: 0px 21px 16px
    position: relative